.note
{
    text-align: center;
    height: 32px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.mat-form-field-infix{
    display: inline !important;
}